runtime: python37
instance_class: B1
manual_scaling:
    instances: 1
service: process-ably-tfl
entrypoint: gunicorn -w 1 -t 0 -b :$PORT app.main:app
env_variables:
    PROJECT: $ANALYTICS_PROJECT    # replace in cloud build step
    TOPIC: ably-tfl-tube
    SUBSCRIPTION: ably-tfl-tube
    DATASET: ably_tfl
    TABLE: tube
